@model IEnumerable<WebApplicationMAZAKA.Models.DutyModel>

@{
    ViewBag.Title = "Successful";
}

<br />



<table class="table table-bordered" id="myTable" style="background-color: #8ca683">
    <thead style="color: #ffd800">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Başlık)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acıklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Başlangıc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bitis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamamlandı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.applicationUserId)
            </th>

        </tr>
    </thead>
    <tbody style="color:#ffffff;text-align:center;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Başlık)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Acıklama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Başlangıc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bitis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tamamlandı)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.applicationUserId)
                </td>

            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myTable").DataTable();
        });

    </script>
}
